
.icon-play:before { content: '\e800'; } /* '' */
.icon-pause:before { content: '\e801'; } /* '' */
.icon-fast-backward:before { content: '\e802'; } /* '' */
.icon-fast-forward:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
.icon-repeat:before { content: '\e805'; } /* '' */
.icon-play-circled:before { content: '\e806'; } /* '' */
.icon-pause-circled:before { content: '\e807'; } /* '' */
.icon-music:before { content: '\e808'; } /* '' */
.icon-attention:before { content: '\e809'; } /* '' */
.icon-filter:before { content: '\e80a'; } /* '' */